extends ../base

block TopBar
    include ../widgets/_topBarNotLogin

    block MainContent
        .modal-dialog(role='document')
            .modal-content
                .modal-body.my-3
                    | Your Account has been Activated. Thanks for joining Gymaholic.
                .modal-footer
                    //- button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    a.button.btn.btn-primary(type='button' href='/login') Get Inside
