nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href='/') Gym Management System
    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
            a.nav-link(href='/signup') Signup
            li.nav-item
            a.nav-link(href='/login') Login