extends base 


block topBar
    include widgets/_topBarNotLogin


    block MainContent
        .modal-dialog(role='document')
            .modal-content.mx-auto
                .modal-body.ml-2.w-75.mx-auto.h4.pb-2.font-weight-bold
                    | Reset your password 
                form.reset-form
                    .form-group
                    input.form-control.form-control-user.ml-2.w-75.mx-auto(type='email' name='email' id='email' placeholder='Enter Email Address...')
                    .form-group
                    input.form-control.form-control-user.ml-2.w-75.mx-auto(type='password' name='password' id='password' placeholder='New Password')
                    .form-group
                    input.form-control.form-control-user.ml-2.w-75.mx-auto(type='password' name='passwordConfirm' id ='passwordConfirm' placeholder='Password Confirm')
                    .form-group
                    input.form-control.form-control-user.m-2.w-75.mx-auto(type='text' name='passwordResetToken' id='passwordResetToken' placeholder='Enter OTP ')
                    form.group
                        button.btn.btn-primary.btn-user.btn-block.mx-auto.my-2.p-1.w-25.font-weight-bold(type='submit')
                            | Reset



    script(type='module' src='/js/resetPassword.js')