.form-group
    span.font-weight-bold.mx-3
        | User Type :
    .custom-control.custom-radio.custom-control-inline
        input#member.custom-control-input(type='radio' name='userType')
        label.custom-control-label(for='member' onclick="showHidePan('member')") Member
    .custom-control.custom-radio.custom-control-inline
        input#gymOwner.custom-control-input(type='radio' name='userType')
        label.custom-control-label(for='gymOwner' onclick="showHidePan('gymOwner')") Gym Owner
#panBlock.form-group(style='display: none;')
    input#panVatNumber.form-control.form-control-user.font-weight-bold(type='text' name='panVatNumber' placeholder='Enter PAN/VAT Number')