.row
    .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
            .card-body
                .row.no-gutters.align-items-center
                    .col.mr-2
                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Earnings (Monthly)
                        .h5.mb-0.font-weight-bold.text-gray-800 NRS. 40,000
                    .col-auto
                        i.fas.fa-funnel-dollar.fa-2x.text-gray-300

    .col-xl-3.col-md-6.mb-4
        .card.border-left-success.shadow.h-100.py-2
            .card-body
                .row.no-gutters.align-items-center
                    .col.mr-2
                        .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Earnings (Annual)
                        .h5.mb-0.font-weight-bold.text-gray-800 NRS. 215,000
                    .col-auto
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300

    .col-xl-3.col-md-6.mb-4
        .card.border-left-info.shadow.h-100.py-2
            a(href='/gymadmin/gyms' style='text-decoration: none')
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-info.text-uppercase.mb-1 Total Gyms
                            .row.no-gutters.align-items-center
                            .col-auto
                                .h5.mb-0.mr-3.font-weight-bold.text-gray-800 #{user.gyms.length}
                        .col-auto
                            i.fas.fa-dumbbell.fa-2x.text-gray-300

    .col-xl-3.col-md-6.mb-4
        .card.border-left-warning.shadow.h-100.py-2
            .card-body
                .row.no-gutters.align-items-center
                    .col.mr-2
                        .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Total Members
                        .h5.mb-0.font-weight-bold.text-gray-800 18
                    .col-auto
                        i.fas.fa-users.fa-2x.text-gray-300
