doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title #{title}
    // Custom fonts for this template
    link(href='/template/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    // Custom styles for this template
    link(href='/template/css/sb-admin-2.min.css' rel='stylesheet')
// Page Wrapper
#wrapper
    //sidebar
    block sideBar
        include ../widgets/_sideBar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
        // Main Content
        #content
            block TopBar
                include _topBarAdmin

            .container-fluid
                block Cards
                    include _cards

                // Begin Page Content
                block MainContent
                    .row
                        .col-xl-8.col-lg-7
                            .card.shadow.mb-4
                                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                                    h6.m-0.font-weight-bold.text-primary Earnings Overview
                                .card-body
                                    .chart-area
                                        canvas#myAreaChart
                        // Pie Chart
                        .col-xl-4.col-lg-5
                            .card.shadow.mb-4
                                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                                    h6.m-0.font-weight-bold.text-primary Revenue Sources
                                .card-body
                                    .chart-pie.pt-4.pb-2
                                        canvas#myPieChart


                        // End of Main Content

        // Footer
        block Footer
            include ../widgets/_footer
            // End of Footer
            // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up

//Logout Modal
block LogoutModal
    include ../widgets/_logoutModal

// Bootstrap core JavaScript
if user 
    script(src='/js/logout.js')

script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script(src='/template/vendor/jquery/jquery.min.js')
script(src='/template/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/template/vendor/jquery-easing/jquery.easing.min.js')
script(src='/template/js/sb-admin-2.min.js')
//- script(src='/template/vendor/chart.js/Chart.min.js')
//- script(src='/template/js/demo/chart-pie-demo.js')
//- script(src='/template/js/demo/chart-area-demo.js')







