extends ../base

block sideBar
    include ../widgets/_sideBar

block topBar
    include ../widgets/_topBar

    block MainContent 
        h2 hello



    block footer
        include ../widgets/_footer

block LogoutModal
    include ../widgets/_logoutModal







